<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.pool_size">10</property>

		<!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
		<property name="hibernate.show_sql">true</property>
		<!-- <property name="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</property> -->
		

		<mapping resource="iam/yota/hibernate/Customer.hbm.xml" />
		<mapping resource="iam/yota/hibernate/ParthnerMapping.hbm.xml" />
	</session-factory>
</hibernate-configuration>